
#bandeira{
    background-color: blue;
}
#menu{
    background-color: cornflowerblue;
}
#time{
    background-color: aqua;
}
#jogadores{
    background-color: brown;
}
#biografia{
    background-color: chartreuse;
}
#anúncio{
    background-color: chocolate;
}