.container-img{
    text-align: center;
}

.campo{
    text-align: right;
    width: 30px;
}

.home{
    text-align: right;
}
.home a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
.selecao{
    text-align: center;
}
.selecao{
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.biografia2{
    text-align: left;
    
}
.texto1{
    max-width: 800px;
    
}
.texto2{
    max-width: 800px;
}

.jogos{
    font-weight: bold;
}

.copas{
    font-weight: bold;
}